/* .tab::before{
    content: "";
}

.tab::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 10;
    opacity: 0;
    transition: all 0.2s;
}

.tab:focus::after{
    opacity: 1;
    transition: all 0.5s;
}

.tab{
    position: relative;
    transition: all 0.4;
}  */