@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.assisting-bg {
  background-image: url(.././src//assets/bg.png);
  width: 100%;
  height: 308px;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  background-color: rgba(3, 43, 242, 0.02);
}

.slider-text {
  color: rgba(100, 118, 186, 1);
}

.question {
  color: rgba(100, 118, 186, 1);
}

footer {
  background-color: rgba(30, 44, 79, 1);
}

.rights {
  color: rgba(156, 156, 156, 1);
}

.text {
  color: rgba(246, 246, 248, 1);
}

.text-mark {
  color: rgba(50, 79, 186, 1);
}

.assist {
  background-color: rgba(30, 44, 79, 1);
}

.hero-img {
  background-image: url(../src//assets//line.png);
  min-height: 40vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}
.sales-hero-img {
  background-image: url(../src//assets//line.png);
  min-height: 40vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

@media (max-width: 720px) {
  .assisting-bg {
    background-image: url(.././src//assets/bg.png);
    width: 100%;
    height: 08px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.video-react.video-react-fluid,
.video-react.video-react-16-9,
.video-react.video-react-4-3 {
  width: 100px;
  max-width: 100%;
  /* height: 0; */
  height: 200px !important;
}

.video-react .video-react-big-play-button:before {
  position: absolute;
  top: 0;
  /* display: none !important; */
  left: 0;
  right: 0 !important;
  width: 100%;
  height: 100%;
  /* height: 200px !important; */
  text-align: center;
}

.video-react .video-react-big-play-button {
  font-size: 3em;
  line-height: 1.5em;
  height: 45px !important;
  border-radius: 100% !important;
  width: 46px !important;
  display: block;
  position: absolute;
  top: 40% !important;
  left: 40% !important;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  background-color: white;
  border: none !important;
  background-color: rgba(3, 43, 242, 1) !important;
  transition: all 0.4s;
}

@media (min-width: 560px) {
  .video-react .video-react-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height: 45px !important;
    border-radius: 100% !important;
    width: 46px !important;
    display: block;
    position: absolute;
    top: 40% !important;
    left: 45% !important;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    background-color: white;
    border: none !important;
    background-color: rgba(3, 43, 242, 1) !important;
    transition: all 0.4s;
  }
}

@media (min-width: 800px) {
  .video-react .video-react-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height: 45px !important;
    border-radius: 100% !important;
    width: 46px !important;
    display: block;
    position: absolute;
    top: 44% !important;
    left: 47% !important;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    background-color: white;
    border: none !important;
    background-color: rgba(3, 43, 242, 1) !important;
    transition: all 0.4s;
  }
}

.video-react .video-react-video {
  /* width: 500px !important; */
  height: 250px !important;
}

/* .video-react-video {
  height: 250px !important;
  width: 250% !important;
} */

/* .video-react-controls-enabled video-react-has-started video-react-paused video-react-fluid video-react-user-inactive video-react-workinghover video-react{
    height: 200px !important;
} */
